In [1]:
# Part 2: Remove Duplicates & Fix Data Types

# Task 1: Remove Duplicates
#     1. Load Extended Data:
#     2. Remove Duplicates:
        


# Task 2: Fix Data Types
#     1. Fix Incorrect Data Types:
        


# Task 3: Convert Data Type for Analysis
#     1. Convert Date Strings to DateTime:

In [2]:
import pandas as pd
import numpy as np

# Task 1: Remove Duplicates
print("\n--- Task 1: Remove Duplicates ---")

# 1. Load Extended Data:
# Let's create an extended DataFrame with some duplicate rows
extended_data = {'ID': [1, 2, 3, 2, 4, 5, 1, 6],
                 'Name': ['Alice', 'Bob', 'Charlie', 'Bob', 'Eve', 'Frank', 'Alice', 'Grace'],
                 'Age': [25, 30, 22, 30, 28, 35, 25, 27],
                 'City': ['New York', 'London', 'Paris', 'London', 'Tokyo', 'Sydney', 'New York', 'London']}
df_extended = pd.DataFrame(extended_data)

print("\nExtended DataFrame with potential duplicates:\n", df_extended)

# 2. Remove Duplicates:
# Identify duplicate rows
duplicates = df_extended.duplicated()
print("\nBoolean Series indicating duplicate rows:\n", duplicates)

# Count the number of duplicate rows
num_duplicates = duplicates.sum()
print("\nNumber of duplicate rows:", num_duplicates)

# Remove duplicate rows, keeping the first occurrence by default
df_no_duplicates = df_extended.drop_duplicates()
print("\nDataFrame after removing duplicate rows (keeping first):\n", df_no_duplicates)

# Remove duplicate rows, keeping the last occurrence
df_no_duplicates_last = df_extended.drop_duplicates(keep='last')
print("\nDataFrame after removing duplicate rows (keeping last):\n", df_no_duplicates_last)

# Remove duplicates based on specific columns
df_no_duplicates_name_city = df_extended.drop_duplicates(subset=['Name', 'City'])
print("\nDataFrame after removing duplicates based on 'Name' and 'City':\n", df_no_duplicates_name_city)

# Task 2: Fix Data Types
print("\n--- Task 2: Fix Data Types ---")

# Let's create a DataFrame with some incorrect data types
data_types_issue = {'ID': [1, 2, 3],
                     'Age': ['25', '30', '22'],  # Should be integer
                     'Salary': ['50000.00', '60000.00', '75000.00']}  # Should be float or integer
df_types = pd.DataFrame(data_types_issue)
print("\nDataFrame with incorrect data types:\n", df_types.dtypes)
print("\nDataFrame:\n", df_types)

# 1. Fix Incorrect Data Types:
df_types['Age'] = pd.to_numeric(df_types['Age'])
df_types['Salary'] = pd.to_numeric(df_types['Salary'])

print("\nDataFrame after fixing data types:\n", df_types.dtypes)
print("\nDataFrame:\n", df_types)

# Task 3: Convert Data Type for Analysis
print("\n--- Task 3: Convert Data Type for Analysis ---")

# Let's create a DataFrame with date strings
date_data = {'Event': ['A', 'B', 'C'],
             'Date': ['2023-01-15', '2023-02-20', '2023-03-25']}
df_dates = pd.DataFrame(date_data)
print("\nDataFrame with date strings:\n", df_dates)
print("\nData type of 'Date' column:", df_dates['Date'].dtype)

# 1. Convert Date Strings to DateTime:
df_dates['Date'] = pd.to_datetime(df_dates['Date'])
print("\nDataFrame after converting 'Date' to datetime:\n", df_dates)
print("\nData type of 'Date' column after conversion:", df_dates['Date'].dtype)

--- Task 1: Remove Duplicates ---

Extended DataFrame with potential duplicates:
    ID     Name  Age      City
0   1    Alice   25  New York
1   2      Bob   30    London
2   3  Charlie   22     Paris
3   2      Bob   30    London
4   4      Eve   28     Tokyo
5   5    Frank   35    Sydney
6   1    Alice   25  New York
7   6    Grace   27    London

Boolean Series indicating duplicate rows:
 0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

Number of duplicate rows: 2

DataFrame after removing duplicate rows (keeping first):
    ID     Name  Age      City
0   1    Alice   25  New York
1   2      Bob   30    London
2   3  Charlie   22     Paris
4   4      Eve   28     Tokyo
5   5    Frank   35    Sydney
7   6    Grace   27    London

DataFrame after removing duplicate rows (keeping last):
    ID     Name  Age      City
2   3  Charlie   22     Paris
3   2      Bob   30    London
4   4      Eve   28     Tokyo
5   5    Frank   35    Sydney
6   1    Alice   25  New York
7   6    Grace   27    London

DataFrame after removing duplicates based on 'Name' and 'City':
    ID     Name  Age      City
0   1    Alice   25  New York
1   2      Bob   30    London
2   3  Charlie   22     Paris
4   4      Eve   28     Tokyo
5   5    Frank   35    Sydney
7   6    Grace   27    London

--- Task 2: Fix Data Types ---

DataFrame with incorrect data types:
 ID         int64
Age       object
Salary    object
dtype: object

DataFrame:
    ID Age    Salary
0   1  25  50000.00
1   2  30  60000.00
2   3  22  75000.00

DataFrame after fixing data types:
 ID          int64
Age         int64
Salary    float64
dtype: object

DataFrame:
    ID  Age   Salary
0   1   25  50000.0
1   2   30  60000.0
2   3   22  75000.0

--- Task 3: Convert Data Type for Analysis ---

DataFrame with date strings:
   Event        Date
0     A  2023-01-15
1     B  2023-02-20
2     C  2023-03-25

Data type of 'Date' column: object

DataFrame after converting 'Date' to datetime:
   Event       Date
0     A 2023-01-15
1     B 2023-02-20
2     C 2023-03-25

Data type of 'Date' column after conversion: datetime64[ns]